html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/open-sans-v18-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v18-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/open-sans-v18-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v18-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  color: #323232;
  font-size: 18px;
  line-height: 25px;
}

.main {
  background: url(../img/bg.jpg) no-repeat center;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.in {
  width: 490px;
  height: 645px;
  background-color: #fff;
  display: ;
}

.in__title {
  max-width: 223px;
  position: relative;
  top: 39px;
  left: 124px;
  font-size: 30px;
  line-height: 41px;
}

.wrapper {
  max-width: 315px;
  margin-top: 59px;
  margin-left: 80px;
}

.input {
  width: 230px;
  height: 50px;
  margin-top: 8px;
  margin-right: 14px;
  background: linear-gradient(
    180deg,
    #f8f8f8 0%,
    rgba(243, 243, 243, 0) 100%,
    #f2f2f2 100%
  );
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  padding-left: 15px;
}

.input-subtitel {
  display: block;
}

.in__width {
  height: 83px;
  margin-bottom: 30px;
  position: relative;
}

.in__height {
  height: 83px;
  margin-bottom: 30px;
  position: relative;
}

.input-in::placeholder {
  color: #838383;
}

.input-text-false {
  display: none;
  font-size: 13px;
  line-height: 18px;
  color: #c98e99;
}

.check {
  display: none;
  width: 20px;
  height: 15px;
  position: absolute;
  top: 50px;
  right: -35px;
  background: url(../img/svg/check-green.svg) center;
}

/* Select style start */

* {
  box-sizing: border-box;
}

.in__select {
  position: relative;
}

.__select {
  position: relative;
  width: 319px;
  height: 50px;
  margin-top: 8px;
  margin-bottom: 26px;
}
.__select[data-state="active"] .__select__content {
  opacity: 1;
}
.__select[data-state="active"]
  .__select__label
  + .__select__input
  + .__select__label {
  max-height: 40px;
  border-top-width: 1px;
}
.__select__title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  cursor: pointer;
  background: linear-gradient(360deg, #f3f3f3 0%, rgba(243, 243, 243, 0) 100%);
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  background: url(../img/svg/arrow.svg) no-repeat 290px,
    url(../img/svg/line.svg) no-repeat 272px;
}
.__select__content {
  position: absolute;
  top: 50px;
  left: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  border: 1px solid #c7ccd1;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 8;
}
.__select__input {
  display: none;
}
.__select__input:checked + label {
  background: linear-gradient(180deg, #4892ec 0%, #2f79d4 100%);
}
.__select__input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}
.__select__label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 83px;
  max-height: 0;
  padding: 0 16px;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;
}
.__select__label + input + .__select__label {
  border-top: 0 solid #c7ccd1 60;
}
.__select__label:hover {
  background: rgba(59, 129, 215, 0.15) !important;
}

/* Select style end */

.in__check {
  margin-bottom: 25px;
}

.input-in__check {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.input-in__check + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.input-in__check + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 0.5em;
  background: linear-gradient(360deg, #f3f3f3 0%, rgba(243, 243, 243, 0) 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
  border-radius: 3px;
}

.input-in__check:checked + label::before {
  border: 1px solid #94bdf0;
  background: url("../img/svg/check.svg") no-repeat center;
}

.in__total {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 23px;
}

.in__total-sum {
  color: #a10031;
}

.button-in__next-false {
  width: 150px;
  height: 50px;
  border: none;
  background: url(../img/svg/btn-false.svg) no-repeat center;
}

.button-in__next-true {
  position: relative;
  left: -154px;
  width: 150px;
  height: 50px;
  border: none;
  background: url(../img/svg/btn-active.svg) no-repeat center;
  z-index: -1;
}

.button-in__next-text {
  position: relative;
  right: 9px;
  color: white;
}

.user {
  width: 490px;
  height: 645px;
  background-color: #fff;
  position: relative;
  display: none;
}

.user__title {
  max-width: 405px;
  position: relative;
  top: 39px;
  left: 44px;
  font-size: 30px;
  line-height: 41px;
}

.user__name {
  position: relative;
  display: block;
  height: 93px;
  margin-bottom: 25px;
}

.user__mail {
  position: relative;
  height: 93px;
  margin-bottom: 25px;
}

.input-user {
  min-width: 310px;
}

.user__phone {
  position: relative;
  height: 93px;
  margin-bottom: 10px;
}

.user__order {
  max-height: 100px;
  margin-bottom: 13px;
}

.user__width,
.user__height,
.user__material {
  color: #458ae1;
}

.user__total {
  color: #a10031;
}

.button-user__send {
  width: 230px;
  height: 50px;
  background: linear-gradient(180deg, #4892ec 0%, #2f79d4 100%);
  border: 1px solid #226dc8;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  color: white;

  position: absolute;
  bottom: 40px;
  left: 130px;
}

.button-user__send:hover {
  background-color: #3e8ff2;
}

.button-user__send:active {
  background-color: #256fca;
}

.btn-grp {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.btn {
  width: 70px;
  height: 40px;
  margin-bottom: 5px;
  transition: 0.3s;
}

.btn:active,
.btn:hover,
.btn:focus {
  border: 3px solid orange;
  font-size: 22px;
}

.btn1,
.btn2,
.btn3 {
  background: wheat;
}

.out {
  width: 490px;
  height: 330px;
  background: white;
  display: none;
}

.out__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}

.out__title,
.out__mail,
.out__phone {
  text-align: center;
  margin-bottom: 34px;
}

.out__title {
  margin-top: 39px;
}

.out__title,
.out__name,
.out__number {
  font-weight: bold;
  font-size: 26px;
  line-height: 35px;
}

.out__number,
.out__mail-user,
.out__phone-user {
  color: #458ae1;
}
